
@viewport{
  zoom: 1.0;
  width: device-width;
}

.App-header {
  background-image: url('./images/background.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-header .img{
  align-items: left;
}




